@charset "UTF-8";
body{
	box-sizing: border-box;
}

/* header */
header img{
width: 150px;
height: 150px;
margin: 15px 0 0 15px;
border-radius: 500px;


}
header .logo{
width: 180px;
height: 180px;
background: 	rgb(245, 244, 244);
border-radius: 500px;
margin: 15px 0 0 250px;

}
/* header nav */
header nav ul{
display: flex;
list-style-type: none;
margin: 0 0 0 650px;
}

header nav ul li{
	padding: 1em;
}

header nav ul li a{
	text-decoration: none;
}
header nav ul li a:hover
{
	cursor: pointer;
	color: rgb(100, 100, 100);
	text-decoration: underline;
}

header nav ul li a:visited{
	color:rgb(100, 100, 100);
}
/* main */
main h1{

	padding-top: 50px;
	text-align: center;
}

div p{
	font-family: 'PT Sans', sans-serif;
	padding-left: 0%;
	padding-bottom: 50px;
	padding-left: 200px;
	font-size: 19.3px;
}

main section table{
background: rgb(245, 244, 244);
table-layout: fixed;
text-align: left;
margin-left: 200px;

}
main section table th p{
color:  rgb(229, 141, 41);
}

main section td,
main section th{
padding: 0 0 0 500px;
border-bottom: dashed 1px rgb(235, 235, 235);
}

main section th{
	padding: 10px;
	color:rgb(145, 133, 117);
}
main section td{
	padding-right: 200px;
}
/* footer */
footer{
	margin-top: 100px;
	height: 50px;
	background:  rgb(35, 35, 35);

}



footer small p{
	text-align: center;
	color: rgb(207, 206, 206);
	padding-top: 30px;
}

.gftd{
	color: rgb(207, 206, 206);
	text-align: center;
  padding-top: 15px;
}
/* form */
/* form table */
form table{
	 margin-left: 400px;
	/* margin-right: ; */ 
}

form caption{
	font-size: 24px;
	font-weight: 900;
	padding-left: 270px;
}

input[type="email"]{
	width: 165%;
	height: 30px;
	border-radius: 0 0;
	margin-bottom: 10px;
	background:	rgb(245, 244, 244);
}

textarea{
	width: 165%;
	height: 400px;
	border-radius: 0 0;
	background:	rgb(245, 244, 244);
}

/* form input submit */
input[type="submit"]{
margin-left: 850px;
width: 100px;
height: 50px;
background: rgb(35, 35, 35);
border-radius: 0 0;
}

input[value="送信"]{
	color: white;
}
