@charset "UTF-8";
/* header */

header img{
width: 100px;
height: 100px;
background: 	#f0f0f0;
border-radius: 500px;
margin: 20px 0 0 270px;

}
/* header nav */
header nav ul{
display: flex;
list-style-type: none;
margin: 0 0 0 650px;
}

header nav ul li{
	padding: 1em;
}

header nav ul li a{
	text-decoration: none;
}
header nav ul li a:hover
{
	cursor: pointer;
	color: brown;
	text-decoration: underline;
}
/* main */
main h1{

	padding-top: 50px;
}

div p{
	font-family: 'Karantina', cursive;
	padding-left: 0%;
	padding-bottom: 50px;
}

main section table{
background: #f0f0f0;
table-layout: fixed;
text-align: left;

}
main section table th p{
color:  #ffa500;
}

main section td,
main section th{
padding: 0 0 0 500px;
border-bottom: dashed 1px #b8b8b8;
}

main section th{
	padding: 10px;
	color:#86684B;
}
main section td{
	padding-right: 200px;
}
/* footer */
footer{
	margin-top: 100px;
	height: 50px;
	background:  #3c3c3c;

}



footer small p{
	text-align: center;
	color: #ffffff;
	padding-top: 30px;
}

.gftd{
	color: white;
	text-align: center;
padding-top: 15px;
}
/* form */
/* form table */
form table{
	 margin-left: 400px;
	/* margin-right: ; */ 
}

form caption{
	font-size: 24px;
	font-weight: 900;
	padding-left: 270px;
}

input[type="email"]{
	width: 165%;
	height: 30px;
	border-radius: 0 0;
	margin-bottom: 10px;
}

textarea{
	width: 165%;
	height: 400px;
	border-radius: 0 0;
}

/* form input submit */
input[type="submit"]{
margin-left: 850px;
width: 100px;
height: 50px;
background: #3c3c3c;
border-radius: 0 0;
}

input[value="送信"]{
	color: white;
}
